.favorite
  - if favorite = current_user.favorited(post)
    Favorited
    = form_for [topic, post, favorite]
  - else
    Want to favorite this?
    = form_for [topic, post, Favorite.new] do |f|
      = button_tag type: 'Submit', class: 'tiny radius success button' do
        %i.fi-like  &nbsp; Favorite