%h1 New topic
.row
  .large-4.columns
    %p Guidelines for new topic
    %ul 
      %li Make sure content is appropriate
      %li Blah blah blah
      %li Yakety smakety
      %li Etc, etc, etc.
  .large-8.columns
    = render 'form'