.row
  .8-large.columns
    %h2 Popular users
    %p.lead Most active users:
    = render partial: 'users/user', collection: @users
    = will_paginate @users, renderer: FoundationPagination::Rails
  .4-large.columns
