%h1 Welcome to Bloccit!
%p This is the xciting home page for this good app.  We hope you like it.

= link_to 'Sign in', '', data: { 'reveal-id' => 'login-modal'}

#login-modal.reveal-modal.medium

  %h2 Nice modal dude
  