%h1 Welcome to Bloccit!
%p This is the xciting home page for this good app.  We hope you like it.

= link_to 'Sign in', '', data: { 'reveal-id' => 'signin-modal'}
= link_to 'Sign up', '', data: { 'reveal-id' => 'signup-modal'}

#signin-modal.reveal-modal.medium
  %h2 Nice modal dude

#signup-modal.reveal-modal.medium
  %h2 Nice modal dude
 