%h1 Welcome to your dashboard
%p
  You are signed in as
  = @dashboard.username

%p
  View all
  = link_to ' posts', topic_posts_path
%p
  Create a
  = link_to ' new post', new_post_path


= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'small radius alert button'

