//  ==========
//  = Header =
//  ==========

header.page-header 
  background-color: #bc471d
  color: #fff
  width: 100%
  height: 5em
  margin-bottom: 10px
  // overflow: hidden
  padding: 10px 20px

  a,
  a:link,
  a:hover,
  a:active,
  a:visited 
    color: #fef8e7
    text-decoration: none
  
  nav.utility 
    font-size: 0.8em
    width: 100%
    ul.login
      margin-right: 2em
    a
      float: right
  
  .logo
    float: left
    position: absolute
    top: 5px


//  ========
//  = Main =
//  ========

.main
  min-height: 20em
  width: 85%
  margin: 2em auto

.posts
  border: solid
  margin: 0.5em
  padding: 0.5em
  height: 10em

.centered-content
  text-align: center

.inline-list
  li
    display: inline

.post
  margin: 1em
  background: #ddd
  padding: 2em

.comment
  background: #eee
  border: solid black 1px
  padding: 2em
  margin: 2em

.topic
  padding: 2em
  margin: 2em
  background: #efefef

//  =================
//  = Caw! Effects! =
//  =================

.rotate
  -webkit-transition-duration: 0.8s
  -moz-transition-duration: 0.8s
  -o-transition-duration: 0.8s
  transition-duration: 0.8s
     
  -webkit-transition-property: -webkit-transform
  -moz-transition-property: -moz-transform
  -o-transition-property: -o-transform
  transition-property: transform
     
  overflow:hidden
 
 
.rotate:hover  
  -webkit-transform:rotate(360deg)
  -moz-transform:rotate(360deg)
  -o-transform:rotate(360deg)

//  ==========
//  = Footer =
//  ==========

footer
  text-align: center
  background-color: #eee
  height: 1em
  padding-top: 3em
  padding-bottom: 3em
  margin-top: 0.5em
  font-size: 1.2em
  li 
    margin-right: 1em
  
  .horizontal li 
    display: inline
