%header.page-header{role: 'banner'}
  .row
    .small-3.columns
      = link_to(image_tag('bloccit.png', alt: 'Bloccit', class: 'logo', size: '64x64'))
    .small-9.columns
      %nav.utility
        / %p
        /   = link_to 'Home', welcome_index_path
        /   = link_to 'About', welcome_about_path
        %ul.login
          %li#login
            %a#login-trigger{href: "#"}
              Log in
              %span ▼
            #login-content
              %form
                %fieldset#inputs
                  %input#username{name: "Email", placeholder: "Your email address", required: "", type: "email"}/
                  %input#password{name: "Password", placeholder: "Password", required: "", type: "password"}/
                %fieldset#actions
                  %input#submit{type: "submit", value: "Log in"}/
                  %label
                    %input{checked: "checked", type: "checkbox"}/
                    Keep me signed in
          / %li#signup
          /   %a{href: ""} Sign up FREE


        